h1 
{
    text-align: center; 
    color: #F26925;
    font-weight: bold;
    z-index: 2; 
    font-size: 50px; 
    margin-top: 70px; 
}

#re-verse
{
    /* color: #474C55;  */
    color: white; 
    font-family: Arial; 
    font-weight: bold; 
}

#container
{
    position: relative; 
    min-height: 100vh; 

}

.color-overlay
{
    width: 100%; 
    height: 100%; 
    /* background: #F26925 ;  */
    background: black; 
    opacity: 0.7; 
    position: absolute; 
    min-height: 100vh; 
    z-index: 1; 
}  

#universe-video
{
    position: fixed; 
    right: 0; 
    bottom: 0; 
    min-width: 100%; 
    min-height: 100vh; 
    position: absolute; 
    overflow: hidden; 
    z-index: -1; 
}

span
{
    color: white; 
    font-weight: bold; 
}

mat-card
{
    display: flex; 
    flex-direction: column; 
}

mat-form-field
{
    width: 100%; 
    background: white; 
    border-radius: 7px; 
}

#register-login
{
    display: flex; 
    justify-content: center; 
    margin-top: 50px; 
    /* background-color: #F26925;  */
    width: 1000px; 
    border-radius: 10px; 
    padding: 150px 100px 50px 100px; 
    /* background-image: url("src/assets/rev-logo-part3.jpg"); 
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: 900px 300px;
    background-position-y: 90px;
    background-position-x: 50px;   */

}



button
{
    margin-top: 20px; 
    background: #474C55; 
    color: white; 
    margin-left: 45%; 
    padding: 10px; 
    border-radius: 10px; 
}

.row
{
    display: flex; 
    align-items: center; 
    gap: 1em; 
}

#header-container
{
    display: flex; 
    justify-content: center; 
    width: 1000px; 
    border-radius: 10px; 
}
#center-register-login
{
    display: flex; 
    justify-content: center; 
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #F26925 !important;
   }

#center-header
{
    display: flex; 
    justify-content: center; 
}

.button-flex-container
{
    display: flex; 
    justify-content: center; 
}

#login-button
{
    width: 200px; 
    height: 100px; 
    background-image: url("src/assets/login.jpg"); 
    background-position: center; 
    background-size: 100px; 
    background-repeat: no-repeat; 
    border-radius: 20px; 
    margin-top: 20px; 
}

#login-tab-header, #register-tab-header
{
    width: 90px; 
    border-radius: 10px; 
}

.submit-button
{
    margin-top: 20px; 
}

#register-button
{
    width: 100px; 
    border-radius: 10px; 
    margin-top: 20px; 
}
