

<mat-tab-group>

  <form name="registrationForm" role="form" (ngSubmit)="userRegistration()" [formGroup]="registrationForm" >
    <mat-tab label="Registration">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit">Register</button>
    </mat-tab>
  </form>

  <form name="loginForm" role="form" (ngSubmit)="userLogin()" [formGroup]="loginForm">
    <mat-tab label="Login">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </mat-tab>
  </form>



</mat-tab-group>


