<div>
    <h2>{{user?.firstName}} {{user?.lastName}} @{{user?.userName}}</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Sed risus pretium quam vulputate dignissim suspendisse in.
        Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Eget lorem dolor sed viverra.
        Augue interdum velit euismod in pellentesque massa placerat duis ultricies.
        Porttitor leo a diam sollicitudin tempor id eu. Eget mi proin sed libero enim sed faucibus.
        Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
    </p>


</div>

