.example-spacer {
  flex: .05 .05 auto;
}

.logo{
  padding: 0px 7px 0px 7px;
  width: 45px;
  height: 45px;
}
.brandname{
  border-left: 1.5px solid black;
  line-height: 30px;
  font-family: Futura;
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
  letter-spacing: 1.4px;
  padding-left: 20px;
}
.brandname:hover{
  cursor: pointer;
}
.logo:hover{
  cursor: pointer;
}
.brandname span:first-child{
  color: var(--darkgray);
}
.brandname span:nth-child(2){
  color: var(--orange);
}
.header{
  background-color: #F7F7F7;
  justify-content: center;
}
.searchbar-container{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: .4 .4 auto;
  padding: 2px 0px 2px 10px;
  border-radius: 5px;
  border: 1.5px solid #C9C9C9;
  height: 25px;
}
.searchbar-container:focus{
  outline: none;
}
.searchbar{
  font-family: "Futura Book";
  font-size: 14px;
  width: 100%;
  border: none;
  margin-left: 5px;
}
.searchbar:focus{
  outline: none;
}
.useraccount{
  display: flex;
  flex: .2 .2 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.headerlinks{
  font-family: Futura;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  line-height: 15px;
  font-size: 13px;
  color: var(--darkgray);
  justify-content: center;
  padding:0px 10px 0px 10px;

}
.userinfo{
  display: flex;
  flex-direction: row;
}
.useravatarcontainer{
  width: 45px;
  height: 45px;
  background-color: #7f7f7f;
  border-radius: 50%;
}
.headerlinks span{
  animation: .5s;
}
.headerlinks span:nth-child(2){
  color: #7f7f7f
}
.headerlinks span:hover{
  text-decoration: underline 1px solid black;
  cursor: pointer;
}
.useraccount mat-icon{
  font-size: 30px;
}
