<mat-toolbar>

  <span class="example-spacer"></span>

  <img class="logo" src="assets/Reverse-Brand-Logo-Transparent.png" width="35px" height="35px" routerLink="">
  <span class="brandname" routerLink=""><span>RE</span><span>VERSE</span></span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <input maxlength="50">

</mat-toolbar>
