
:host::ng-deep .mat-grid-tile-content{
  align-items: flex-start;
}
#flex-container
{
  width: 95%;
  height: 80%;
  overflow-y: scroll;
  padding: 40px;
  margin-top: 100px;

}

#side-nav{
  z-index: 99;
}
.feedheader{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feedheader h1{
  font-family: "Futura";
  font-weight: bold;
  font-size: 38px;

}
.feedheader button{
  font-family: "Futura";
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  height: 45px;
  display: flex;
  width: 24%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: var(--orange);
  color: white;
  transition: 0.4s;
}

.feedheader button:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;

}
mat-grid-tile
{
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;

}

mat-grid-list{
  height: 100%;
  padding-bottom: 0 !important;
}

mat-grid-tile:first-child,
mat-grid-tile:nth-child(2){
  border-right: 1px solid var(--lightgray);

}
