
mat-grid-tile
{
  height: 100%;
  width: 100%;
  padding-top: 0 !important;

}

mat-grid-list{
  height: 100%;
  padding-bottom: 0 !important;
}

mat-grid-tile:first-child,
mat-grid-tile:nth-child(2){
  border-right: 1px solid var(--lightgray);

}
