<mat-grid-list cols="4">
  <mat-grid-tile id="side-nav">
    <app-sidebar></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div id="flex-container">
      <div class="feedheader">
        <h1>Feed</h1>
        <button routerLink="/posts/add" *ngIf="userFromSession">
          <mat-icon>add</mat-icon> New Post
        </button>
      </div>
      <div *ngIf="userFromSession else guestView">
        <app-feed [posts]="posts"></app-feed>
      </div>
      <ng-template #guestView>
        <p>You are not currently logged in. Please <a href="/login">log in</a> to view the home feed. </p>
      </ng-template>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-related-users></app-related-users>
  </mat-grid-tile>
  <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>
