mat-grid-tile
{
    height: 45%;
    border: 1.5px solid var(--orange);
}

#flex-container
{
    height: 100vh; 
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    gap: 1em; 
    padding: 25px; 
    
}

