<p>user works!</p>

<mat-grid-list cols="4" rowHeight="1:1.5">
    <mat-grid-tile id="side-nav">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button><br>
        <button mat-button class="menu-button">
          <mat-icon>chat_bubble_outline</mat-icon>
          <span>Posts</span>
        </button><br>
        <button mat-button class="menu-button">
          <mat-icon>message</mat-icon>
          <span>Messages</span>
        </button><br>
        <button mat-button class="menu-button">
          <mat-icon>explore</mat-icon>
          <span>Explore</span>
        </button><br>
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </button>
      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="flex-container">
            <div>
                <h2>First Last @Username</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Sed risus pretium quam vulputate dignissim suspendisse in.
                    Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Eget lorem dolor sed viverra.
                    Augue interdum velit euismod in pellentesque massa placerat duis ultricies.
                    Porttitor leo a diam sollicitudin tempor id eu. Eget mi proin sed libero enim sed faucibus.
                    Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
                </p>
            </div>
            <div></div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list>

