<mat-grid-list cols="4" rowHeight="1:1.5">
  <mat-grid-tile id="side-nav">
    <app-sidebar></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="flex-container">
      <h1>My Info</h1>
      <form [formGroup]="user_profile_edit_form">
        <mat-card style="padding: 40px 70px 50px; width: 600px">
          <div class="row">
            <div class="row">
              <div class="profileimgcontainer">
                <img [src]="imageSrc" *ngIf="imageSrc">
              </div>
            </div>
            <div class="col full-name">
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName ="firstName">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <!--
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Profile Picture</mat-label>
              <ngx-mat-file-input (change)="onFileChange($event)" formControlName="profilepic" placeholder="Profile Picture" ></ngx-mat-file-input>
              <mat-icon matSuffix>image</mat-icon>
            </mat-form-field>
          </div>
          -->
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
          </div>
          <!--
                    <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput formControlName="confirm_password">
              <span style="font-size: 8px; color: red" *ngIf="user_profile_edit_form.errors?.password_mismatch">
              Passwords do not match.
            </span>
            </mat-form-field>
        </div>

          -->
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Select your sex</mat-label>
              <mat-select formControlName="gender" [(value)]="gender_selected">
                <mat-option>None</mat-option>
                <mat-option value=1>Male</mat-option>
                <mat-option value=2>Female</mat-option>
                <mat-option value=3>Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Select your branch</mat-label>
              <mat-select formControlName="branch" [(value)]="branch_selected">
                <mat-option>None</mat-option>
                <mat-option value=1>DC Office - Reston, VA USA</mat-option>
                <mat-option value=2>Dallas Office - Dallas, TX USA</mat-option>
                <mat-option value=3>New York Office - New York, NY USA</mat-option>
                <mat-option value=4>Orlando Office - Orlando, FL USA</mat-option>
                <mat-option value=5>West Virginia University - Morgantown, WV USA</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Select your birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <div class="flex-center">
            <button mat-raised-button (click)="saveUser()">Save</button>
          </div>

        </mat-card>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h2>Requirements</h2>
      <ul class="user_list">
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('firstName').value != '' && user_profile_edit_form.get('lastName').value != ''; else elseBlock">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">First & Last Names</div>
          </div>
          <ng-template #elseBlock>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">First & Last Names</div>
            </div>
          </ng-template>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Profile Picture</div>
          </div>
        </li>
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('username').value != ''; else otherBlock">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Username</div>
          </div>
          <ng-template #otherBlock>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">Username</div>
            </div>
          </ng-template>
        </li>
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('email').value != ''; else anotherBlock">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Email</div>
          </div>
          <ng-template #anotherBlock>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">Email</div>
            </div>
          </ng-template>
        </li>
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('gender').value != null; else theOtherBlock">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Gender</div>
          </div>
          <ng-template #theOtherBlock>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">Gender</div>
            </div>
          </ng-template>
        </li>
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('branch').value != null; else notThatBlock">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Branch</div>
          </div>
          <ng-template #notThatBlock>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">Branch</div>
            </div>
          </ng-template>
        </li>
        <li>
          <div class="block_container" *ngIf="user_profile_edit_form.get('dateOfBirth').value != null; else dateNotPicked">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Birthdate</div>
          </div>
          <ng-template #dateNotPicked>
            <div class="block_container">
              <div class="block1"><mat-icon>clear</mat-icon></div>
              <div class="block2">Birthdate</div>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
