<mat-grid-list cols="4" rowHeight="1:1.5">
  <mat-grid-tile id="side-nav">
    <app-sidebar></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <!--<div id="flex-container">
      <app-user-description [user]="user"></app-user-description>
      //modified 11/02 Jorge [posts]
      <app-user-post-list [posts]="posts"></app-user-post-list>
    </div>-->
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h2>Requirements</h2>
      <ul class="user_list">
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">First & Last Names</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Profile Picture</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Username</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Email</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Gender</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Branch</div>
          </div>
        </li>
        <li>
          <div class="block_container">
            <div class="block1"><mat-icon>check</mat-icon></div>
            <div class="block2">Birthdate</div>
          </div>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
