
h1 
{
  margin-top: 80px; 
  font-weight: bold; 
  width: 80%; 
  font-size: 35px; 
  font-family: Futura; 
}

button
{
  display: flex; 
  justify-content: center; 
  background: var(--orange); 
  font-weight: bold; 
  border-radius: 12px; 
  width: 100px;  
}
img
{
  border-radius: 50%; 
  border: 1.5px solid black; 
  width: 150px; 
}
mat-card
{
  background: #f7f5f5; 
}

mat-grid-tile
{
  height: 100%;
  width: 100%;
  padding-top: 0 !important;
}

mat-grid-list{
  height: 100%;
  padding-bottom: 0 !important;
}

mat-grid-tile:first-child,
mat-grid-tile:nth-child(2){
  border-right: 1px solid var(--lightgray);

}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #F26925 !important;
}

.flex-container
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9%;
  width: 100%;  

}

.flex-center
{
  display: flex; 
  justify-content: center; 
}

form
{
  width: 95%; 
}

.container
{
  position: absolute;
  top: 10%;
}

.container h2
{
  text-align: center;
  font-family: Futura;
  font-weight: bold;
  z-index: 2;
  font-size: 20px;
}

ul li
{
  list-style: none;
  margin: 10px;
  align-self: center;
}

#upload-btn
{
  margin-right: 10px; 
  padding-right: 20px; 
}

.block1, .block2
{
  display: flex;

}

.block1
{
  width: 30px;
  align-content: center;
}

.block2
{
  width: 180px;
}

.block_container
{
  text-align: left;
  width: 220px;
  font-family: Futura;
  font-weight: bold;
  margin: 30px;
  display: flex;
  gap: 1em;
}

.fileInput
{
  border: 2px solid var(--lightgray); 
  border-radius: 10px; 
  padding: 3px; 
}

.row
{
  display: flex; 
  gap: 1em; 
  align-items: center; 
}

.col
{
  display: flex; 
  flex-direction: column; 
}

.mat-form-field
{
  width: 100%; 
}

.image-uploader
{
  width: 70%; 
}

.full-name
{
  width: 50%; 
  margin-left: 20px; 
}

.profileimgcontainer{
  width: 200px;
  height: 200px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.profileimgcontainer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 160px;
}

