*,
textarea {
  box-sizing: border-box;
}

#side-nav {
  z-index: 99;
}

.add-post__container {
  width: 90%;
}

.add-post__container h1 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 38px;
}

.textarea {
  display: none;
}

.add-post__textarea {
  background-color: var(--white);
  border: 1px solid var(--lightgray);
  border-radius: 0.5rem;
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 16rem;
  padding: 1rem;
  margin: 0.5rem auto;
}

.add-post__textarea:focus {
  border: 1px solid var(--lightgray);
  outline: 1px solid var(--darkgray);
}

.add-post__title {
  color: var(--darkgray);
  text-align: center;
  padding: 3rem 0;
}

.title-input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.submit-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: var(--white);
  font-size: 1.2rem;
  margin: 1rem;
}

mat-grid-tile {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

mat-grid-list {
  height: 100%;
  padding-bottom: 0 !important;
}

mat-grid-tile:first-child,
mat-grid-tile:nth-child(2) {
  border-right: 1px solid var(--lightgray);
}

.mat-grid-tile-content {
  align-items: flex-start !important;
}
