<div class="btn-group-vertical" role="group" aria-label="Vertical button group" >
  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button><br>
  <button mat-button class="menu-button">
    <mat-icon>chat_bubble_outline</mat-icon>
    <span>Posts</span>
  </button><br>
  <button mat-button class="menu-button">
    <mat-icon>message</mat-icon>
    <span>Messages</span>
  </button><br>
  <button mat-button class="menu-button">
    <mat-icon>explore</mat-icon>
    <span>Explore</span>
  </button><br>
  <button mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Users</span>
  </button>
</div>
