<div class="post-container">
  <div>
    <div class="post-content" [innerHTML] = "post.body"></div>
    <div class="dateTime">
      <p>{{post.created | date: 'longDate'}}</p>
      <p>{{post.created | date: 'mediumTime'}}</p>
    </div>
  </div>
  <div class="icon-container">
    <div class="likes-and-posts-icons">
      <div class="like-icon-with-count">
        <mat-icon class="icon like-icon">
          thumb_up
        </mat-icon>
        <p>{{ post.likes.length }}</p>
      </div>
      <div class="number-of-posts">
        <mat-icon class="icon chat-icon">
          chat_bubble_outline
        </mat-icon>
        <p>{{ post.comments.length }}</p>
      </div>
    </div>
    <div class="full-open-and-share">
      <div class="open-in-full-with-text" routerLink="/posts/{{post.id}}">
        <mat-icon class="icon">
          open_in_full
        </mat-icon>
        <p>Full Post</p>
      </div>
      <div class="share">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw">
          <mat-icon class="icon">
            share
          </mat-icon>
          <span>
            Share
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
