<div class="post-container">
  <div class="postmain">
    <div class="postcontent">
      <h1 class="post-title" [innerHTML] = "post.title"></h1>
      <div class="post-body" [innerHTML] = "post.body"></div>
    </div>
    <div class="dateTime">
      <p>{{post.created | date: 'longDate'}}</p>
      <p>{{post.created | date: 'mediumTime'}}</p>
    </div>
  </div>
  <div class="icon-container">
    <div class="full-open-and-share">
      <div class="open-in-full-with-text" routerLink="/posts/{{post.id}}">
        <mat-icon class="icon">
          open_in_full
        </mat-icon>
        <a href="/posts/{{ post.id }}">
          Full Post
        </a>
      </div>
      <div class="share">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw">
          <mat-icon class="icon">
            share
          </mat-icon>
          <span>
            Share
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
