mat-grid-tile
{
  height: 100%;
  border: 1.5px solid var(--orange);
}

#flex-container
{
  height: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 25px;

}

