<mat-grid-list cols="4">
  <mat-grid-tile id="side-nav">
    <app-sidebar></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div id="flex-container">
      <div class="postbody" *ngIf="post">
        <div *ngIf="user" class="postuserprofile">
          <div class="postuserimgcontainer">
          </div>
          <div class="postusername" routerLink="/users/{{user.id}}">
            <p>{{user.firstName+" "+user.lastName}} </p>
            <p>@{{user.username}}</p>
          </div>
        </div>

        <div class="posttitle" [innerHtml]="post.title"></div>
        <div class="posthtmlcontent" [innerHtml]="post.body"></div>
        <div class="icons">
          <div>
            <mat-icon>thumb_up_outline</mat-icon>
            <span>{{post.likes.length}}</span>
          </div>
          <div>
            <mat-icon>chat_bubble_outline</mat-icon>
            <span>{{post.comments.length}}</span>
          </div><div>
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </div>

        </div>

      </div>
      <div class="postcomments" *ngIf="post">
        <div class="commentheader">
          <p>{{post.comments.length}} Comments </p>
        </div>
        <div *ngFor="let item of post.comments" class="comment">
          <h2 class="touserprofile" routerLink="/users/{{item.commenter.id}}"><span class="commentername">{{item.commenter.firstName}} </span><span class="commentername">{{item.commenter.lastName}} </span><span class="commenterusername">@{{item.commenter.username}} </span></h2>
          <p class="commentbody">{{item.message}}</p>

        </div>

      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>
