/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

:root {
  --orange: #f26925;
  --white: #ffffff;
  --darkgray: #474c55;
  --blue: #72a4c2;
  --yellow: #fcb414;
  --lightgray: #b9b9ba;
}

@font-face {
  font-family: Futura;
  font-weight: normal;
  src: url("/assets/fonts/Futura-Std-Medium.otf") format("opentype");
}
@font-face {
  font-family: Futura;
  font-weight: bold;
  src: url("/assets/fonts/Futura-Std-Bold.otf") format("opentype");
}
@font-face {
  font-family: Futura Heavy;
  src: url("/assets/fonts/Futura-Std-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Futura Book;
  src: url("/assets/fonts/Futura-Std-Book.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Toaster styling */ 
.login-toast.mat-snack-bar-container
{
  background: var(--orange) !important; 
  color: white; 
  padding: 35px;
  width: 100%;   
  font-size: 78px !important; 
  margin-top: 80px; 
}

.login-toast.mat-snack-bar-container span
{
  font-size: 27px; 
}
